# 1. Paquetes base
pip install python-dotenv
pip install python-multipart

# 2. Base de datos
pip install sqlalchemy
pip install alembic
pip install psycopg2-binary

# 3. Seguridad
pip install passlib[bcrypt]
pip install python-jose[cryptography]

# 4. Pydantic (probamos sin versión primero)
pip install pydantic

# 5. FastAPI
pip install fastapi
pip install uvicorn[standard]